basic-choose {
    overflow: auto;
    white-space: nowrap;
    ion-checkbox.checkbox .checkbox-icon {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
    }
    ion-checkbox.checkbox .checkbox-icon .checkbox-inner {
        width: 2px;
        height: 6px;
        left: 3px;
        top: 1px;
    }
    label {
        vertical-align: middle;
    }
}