// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background-color: #1F2C41;
}
// body {
//     font-size: 12px;
// }
ion-title {
    &.title {
        .toolbar-title {
            color: white;
        }
    }
}
ion-content {
    &.content {
        // background-color: ;
        /* Rectangle: */
        background-image: linear-gradient(-180deg, #0C1E38 0%, #243545 40%, #293F4D 70%, #0D1F39 100%);
        // background-color: #101D33;
        color: white;
        &[padding] {
            .scroll-content {
                padding: 8px;
                padding-top: 0;
            }
        }
    }
}
ion-tabs {
    &.tabs {
        .tabbar {
            &.show-tabbar {
                background-color: #263653;
                a.tab-button[aria-selected=true] {
                    color: white !important;
                    ion-icon.tab-button-icon {
                        color: white !important;
                    }
                }
                a.tab-button [aria-selected=false]{
                    color: white !important;
                    opacity: .5;
                    ion-icon.tab-button-icon {
                        color: white !important;
                    }
                }
            }
        }
    }
}
ion-datetime.small .datetime-text {
    font-size: 10px !important;
}
ion-multi-picker.small {
    font-size: 10px !important;
}
ion-multi-picker,ion-datetime {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 200;
    position: relative;
    padding: 4px 8px 4px 25px !important;
    margin-right: 4px;
}
ion-picker-cmp.picker-ios {
    .picker-wrapper {
        .picker-toolbar {
            .picker-toolbar-button.picker-toolbar-multi-picker-cancel {
                text-align: left;
            }
        }
    }
}
.data-margin {
    margin: 8px 0;
}
.basic-bg {
    padding: 4px 8px;
    background: rgba(255,255,255,0.06);
    border-radius: 3px;
}
.basic-bg-lg {
    padding: 10px 8px;
    background: rgba(255,255,255,0.06);
    border-radius: 3px;
}
.basic-bg-color {
    background: rgba(255,255,255,0.06);
}
.basic-bg-radius {
    border-radius: 3px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.float-right {
    float: right;
}
@keyframes trump {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}